<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="b4690zG-llr6Aj3jDfa-YxNj4OP-CuYj690CMyguXZg" />
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="max, nelson, maxnelso, mit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <script src="maxnelso.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap.min.js"></script>
    <link href="maxnelso.css" rel="stylesheet" media="screen">
    <link type="image/ico" href="favicon.ico" rel="icon"/>
    <title>Max Nelson</title>
  </head>
  <body>
    <div class="container">
      <div class="content-box">
        <div class="row-fluid">
          <div class="span3">
            <h2 class="name">
              <a href="/">
                Max Nelson
              </a>
            </h2>
          </div>
          <div class="span5">
          </div>
        </div>
        <!--
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="/">About</a>
          </li>
          <li>
            <a href="/">Silliness</a>
          </li>
        </ul>
        -->
        <div class="row">
          <div class="span2">
            <img src="max.jpg">
          </div>
          <div class="span8">
            <div id="content">
              <div class="title">
                <h1>
                  About Me
                </h1>
              </div>
              <p>Hallo! My name is Max and I'm a software developer living in
              the Seattle, WA area. I like to (attempt to) write good software
              and learn about lots of different things, but mostly EECS related
              stuff. For other fun, I like to play video games/watch them played
              well, particularly <a href="http://www.teamliquid.net">esports</a>
              and <a href="http://www.speedrunslive.com">speedruns</a>. I also
              like to participate in <a
                href="http://www.topcoder.com">programming contests</a>, play <a
                href="http://en.wikipedia.org/wiki/Roger_Federer">tennis</a>, build/draw <a href="http://unicodesnowmanforyou.com/">snowmen</a>, and go on crazy <a href="http://hike.io">hikes</a> with my family.</p>
            </div>
            <hr>
          </div>
          <div class="span8">
            <div id="content">
              <p> You can look at my <a class="pdf" href="resume.pdf">resume</a>, check out some <a class="bitbucket" href="https://bitbucket.org/maxnelso">projects</a> I'm working on, or get in touch by sending me an <a class="gmail" href="mailto:maxnelso@gmail.com">email</a>!</p>
            </div>
          </div>
        </div>
     </div>
  </body>
</html>
